.upgrade-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: url("../../../../assets/images/space-header.png");
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(78, 78, 78);
  margin-bottom: 1rem;
}

.upgrade-button:hover {
  background-color: #3e8e41;
}

.upgrade-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
