.solaire {
  animation-name: solaire-animation;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes solaire-animation {
  0% {
    opacity: 0;
    margin-top: 12rem;
  }
  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}
