.solaire {
  animation-fill-mode: forwards;
  animation: solaire-animation-in 1s ease;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  user-select: none;
}

@keyframes solaire-animation-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes solaire-animation-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    cursor: default;
  }
}
