.App {
  text-align: center;
  background-color: #f6f8fa;
  color: #24292e;
  min-height: 100vh;
  animation-name: app-background;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.Sidebar {
  min-height: 100%;
  background-color: #24292e;
  position: absolute;
  animation-duration: 1s;
  z-index: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  border: black;
  border-width: 0.25rem;
  border-style: solid;
  border-style: none solid none none;
}

@keyframes sidebar-open {
  0% {
    width: 0%;
  }
  100% {
    width: 17.5%;
  }
}

@keyframes sidebar-close {
  0% {
    width: 17.5%;
  }
  100% {
    width: 0%;
  }
}

.App-nav-container {
  height: 4rem;
  background-color: #24292e;
  width: 100%;
  border: black;
  border-width: 0.25rem;
  border-style: none none solid none;
  display: flex;
}

.App-nav {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-nav-menu {
  align-items: center;
  display: flex;
  margin-left: 1%;
  cursor: pointer;
  height: 100%;
  z-index: 5;
  fill: white;
}

.App-nav--item {
  font-family: "PlayFair Display";
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
}

.App-nav--item:hover {
  color: rgb(255, 255, 255);
}
