@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

.App {
  text-align: center;
  background-color: #f6f8fa;
  color: #24292e;
  min-height: 100vh;
  animation-name: app-background;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  font-family: "Rowdies", cursive;
}

.Sidebar {
  min-height: 100%;
  background-color: #b6b6b6;
  position: absolute;
  animation-duration: 1s;
  z-index: 3;
  width: 0%;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  border: black;
  border-width: 0.25rem;
  border-style: solid;
  border-style: none solid none none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes sidebar-open {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes sidebar-close {
  0% {
    width: 30%;
  }
  100% {
    width: 0%;
  }
}

.header {
  height: 6rem;
  width: 100%;
  border: black;
  border-width: 0.25rem;
  border-style: none none solid none;
  display: flex;
  overflow: hidden;
}

.header--background {
  position: absolute;
  height: 6rem;
  background: url("./assets/images/space-header.png") repeat-x;
  width: 100%;
  z-index: 1;
}

.header-nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-menu {
  align-items: center;
  display: flex;
  margin-left: 1%;
  cursor: pointer;
  height: 100%;
  z-index: 5;
  fill: white;
}

.header-nav--item {
  font-family: "PlayFair Display";
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
}

.header-nav--item-bastion {
  font-family: "Rowdies", cursive;
  font-size: 2rem;
}
.header-nav--item-sunbro {
  font-family: "Rowdies", cursive;
  font-size: 2rem;
}
.header-nav--item-home {
  font-family: "Rowdies", cursive;
  font-size: 2rem;
}
.header-nav--item:hover {
  color: rgb(255, 255, 255);
}
