.bastion {
  animation-name: bastion-animation;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  height: 36rem;
}

@keyframes bastion-animation {
  0% {
    opacity: 0;
    margin-left: 24rem;
  }
  100% {
    opacity: 1;
    margin-left: 0rem;
  }
}
